a.cs142Project5-commentUser {
	text-decoration: none;
	color: #2f36a9;	
}

div.cs142Project5-photoTime {
	margin: 5px 10px 5px 10px;
	color: #626262;
}

md-card.cs142Project5-photoBlock {
	width: 600px;
}

img.cs142Project5-image {
	width: 600px;
}
