a.cs142Project5-commentUser {
	text-decoration: none;
	color: #2f36a9;	
}

div.cs142Project5-photoTime {
	margin: 5px 10px 5px 10px;
	color: #626262;
	float: left;
	display: inline;
}

div.cs142Project5-delete {
	margin: 5px 10px 5px 10px;
	color: #9A8787;
	float: right; 
	display: inline;
	cursor: pointer;
}

div.cs142Project5-delete:hover { 
	color: #221B9B;
}

h4.cs142Project5-commentTime {
	float: left;
	display: inline;
}

div.cs142Project5-commentDelete {
	color: #9A8787;
	float: right; 
	display: inline;
	cursor: pointer;
}

div.cs142Project5-commentDelete:hover { 
	color: #221B9B;
}

md-card.cs142Project5-photoBlock {
	width: 600px;
}

img.cs142Project5-image {
	width: 600px;
}

md-icon svg {
  fill: #221B9B;
}

