<md-card class = "cs142Project5-photoBlock" ng-repeat = "photo in photos">
	<img ng-src = "/images/{{photo.file_name}}" alt = "{{photo.file_name}}" class="cs142Project5-image">
	<div><div class = "cs142Project5-photoTime">posted on {{photo.date_time}}</div><div class = "cs142Project5-delete" ng-click = "deletePhoto(photo._id)" ng-if="main.currentUserId == photo.user_id">Delete</div></div>
    <md-card-content>
    <md-icon md-svg-src="/images/favorite.svg" ng-if="photo.people_liked.includes(main.currentUserId)" ng-click="unlike(photo._id)" style="color:  #229;"></md-icon>
    <md-icon md-svg-src="/images/favorite_border.svg" ng-if="!photo.people_liked.includes(main.currentUserId)" ng-click="like(photo._id)" style="color:  #229;"></md-icon>
    <p ng-if = "photo.people_liked.includes(main.currentUserId)">You liked this! {{photo.people_liked.length}} people liked this!</p>
    <p ng-if="!photo.people_liked.includes(main.currentUserId)">{{photo.people_liked.length}} people liked this!</p>
		<md-list flex="">
        <md-subheader ng-hide="!photo.comments.length" class="md-no-sticky">Comments</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="comment in photo.comments">
          <div class="md-list-item-text" layout="column">
            <h3><a href="#/users/{{comment.user._id}}" class = "cs142Project5-commentUser">{{comment.user.first_name + " " + comment.user.last_name}}</a></h3>
            <div><h4 class = "cs142Project5-commentTime">{{comment.date_time}}</h4> <div class = "cs142Project5-commentDelete" ng-if="main.currentUserId == comment.user._id" ng-click = "deleteComment(photo._id, comment._id)">Delete</div></div>
            <p>{{comment.comment}}</p>
          </div>
        </md-list-item>       
      </md-list>
      <md-input-container class = "md-block" flex-gt-xs="">
        <label>Comment on it</label>
        <input ng-model="newComment[photo._id]">
              <md-button class="md-raised md-primary" ng-click="postComment(photo._id)">Post!</md-button>
      </md-input-container>
    </md-card-content>
</md-card>
<md-button class="md-raised md-primary" ng-if="main.currentUserId == user._id" ng-click="deleteUser($event)">Delete your account</md-button>