md-icon svg.cs142Project5-icon {
	fill: #8D7A7A;
	width: 18px;
	height: 18px;
	float: left;
	display: inline;
}

div.cs142Project5-item {
	font-size: 18px;
	color: #2f36a9;
}
p.cs142Project5-subHeader {
	font-size: 18px;
	color: #8D7A7A;
	display: inline;
}

span.md-headline {
	font-size: 32px;
	color: #2f36a9;
}

md-card.cs142Project5-userBlock {
	width: 600px; 
}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }

md-content.cs142Project5-userDetail {
	background-color: white; 
}