a.cs142Project5-view {
	font-size: 32px;
	text-decoration: none;
	color: #2f36a9;	
}

img.cs142Project5-icon {
	width: 24px;
	height: 24px;
	display:inline-block;
}

div.cs142Project5-item {
	font-size: 24px;
	color: #2f36a9;
}
div.cs142Project5-subHeader {
	font-size: 18px;
	color: #2f36a9;
}

span.md-headline {
	font-size: 32px;
	color: #2f36a9;
}

md-card.cs142Project5-userBlock {
	width: 600px; 
}