<md-card class = "cs142Project5-userBlock">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{user.name}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
		<md-icon md-svg-src = "/images/location.svg" class = "cs142Project5-icon"></md-icon><div class = "cs142Project5-subHeader">Location:</div> <div class="cs142Project5-item">{{user.location}}</div>
		<md-icon md-svg-src = "/images/occupation.svg" class = "cs142Project5-icon"></md-icon><div class = "cs142Project5-subHeader">Occupation:</div><div class="cs142Project5-item">{{user.occupation}}</div>
		<md-icon md-svg-src = "/images/description.svg" class = "cs142Project5-icon"></md-icon><div class = "cs142Project5-subHeader">Description:</div> <div class="cs142Project5-item">{{user.description}}</div>
    </md-card-content>
    <md-card-actions layout="column" layout-align="start">
      <md-button class="md-raised md-primary" ng-click="viewPhoto(user._id)" class = "cs142Project5-view">View the photos</a></md-button>
    </md-card-actions>
</md-card>