<md-card class = "cs142Project5-userBlock">
<md-toolbar class="md-hue-2">
<md-list-item class="secondary-button-padding">
        <img alt="{{ user.last_name }}" ng-src="/images/{{user.last_name.toLowerCase()}}1.jpg" class="md-avatar"><h3>{{user.name}}</h3>
          </md-list-item>
</md-toolbar>
<md-subheader class="md-no-sticky">User Detail</md-subheader>
    <md-card-content>

    <md-list-item class="secondary-button-padding">
    <p class = "cs142Project5-subHeader"> Location:</p>
    <md-content class = "cs142Project5-userDetail"><p>{{user.location}}</p></md-content>
  </md-list-item>

    <md-divider></md-divider>

    <md-list-item class="secondary-button-padding">
    <p class = "cs142Project5-subHeader">Occupation:</p>
    <md-content class = "cs142Project5-userDetail"><p>{{user.occupation}}</p></md-content>
  </md-list-item>

    <md-divider></md-divider>

    <md-list-item class="secondary-button-padding">
		<p class = "cs142Project5-subHeader">Description:</p></md-list-item><p class = "description">{{user.description}}</p>

    <md-divider></md-divider>

    <md-list-item class="secondary-button-padding">
    <p class = "cs142Project5-subHeader">Preview:</p></md-list-item>

<div class="gridListdemoBasicUsage">
  <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="6" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">

    <md-grid-tile ng-repeat="photo in photos" md-colspan="{{photo.col}}" md-rowspan="{{photo.row}}"  class="cs142-preview">
          <img ng-src = "/images/{{photo.file_name}}">
      </md-grid-tile>

  </md-grid-list>
</div>
    </md-card-content>

    <md-card-actions layout="column" layout-align="start">
      <div ng-click="viewPhoto(user._id)" class = "cs142Project5-viewButton">View The Photos</div>
    </md-card-actions>
</md-card>